<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问码子</title>
</head>
<body style="background-color: #eeeeee">
<div th:replace="~{common/include.html :: navgation} "></div>

<div class="container-fluid" style="background-color:#eeeeee;margin-left:10vw;margin-right:10vw;margin-top:3vw">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-education" aria-hidden="true"></span> 发现 ࿐ཉི༗࿆（ '▿ ' ） ༗࿆ཉི࿐</h2>
            <hr>

            <div class="media" th:each="question : ${pageDTO.questionDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 4vw;height: 4vw" class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-muted">
                           <span th:text="${question.description}"></span>
                            <br> ●
                            <span th:text="${question.commentCount}"></span>
                            个回复 ●
                            <span th:text="${question.viewCount}"></span>次浏览 ●
                            <span th:text="${#dates.format(question.gmtCreat,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </span>

                </div>
            </div>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDTO.showFirstPage}">
                        <a th:href="@{/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showPrevious}">
                        <a th:href="@{/(page=${pageDTO.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageDTO.pages}" th:class="${pageDTO.page==page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pageDTO.showNext}">
                        <a th:href="@{/(page=${pageDTO.page}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showEndPage}">
                        <a th:href="@{/(page=${pageDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3><br>
        </div>

    </div>
</div>


<div th:replace="~{common/include.html :: include}"></div>
</body>
</html>