<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <div th:replace="~{common/include.html :: include} "></div>

</head>
<body style="background-color: #eeeeee" >
<div th:replace="~{common/include.html :: navgation} "></div>

<div class="container-fluid" style="background-color:#eeeeee;margin-left:10vw;margin-right:10vw;margin-top:3vw">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span> </h2>
            <hr>
            <div class="media" th:each="question : ${pageDTO.questionDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 4vw;height: 4vw" class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span><br>●
                    <span th:text="${question.commentCount}"></span><span style="color: #aaaaaa">个回复 </span>●
                    <span th:text="${question.viewCount}"></span><span style="color: #aaaaaa">次浏览 </span>●
                    <span style="color: #aaaaaa" th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDTO.showFirstPage}">
                        <a th:href="@{/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showPrevious}">
                        <a th:href="@{/(page=${pageDTO.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageDTO.pages}" th:class="${pageDTO.page==page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}" ></a>
                    </li>

                    <li th:if="${pageDTO.showNext}">
                        <a th:href="@{/(page=${pageDTO.page}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showEndPage}">
                        <a th:href="@{/(page=${pageDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>



        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/questions"  th:class="${section=='questions'}?'active list-group-item':'list-group-item'">我的问题</a>
                <a href="/profile/replies"  th:class="${section=='replies'}?'active list-group-item':'list-group-item'">最新回复
                <span class="badge">1100</span>
                </a>

            </div>
        </div>

    </div>
</div>


</body>
</html>